<div class="content-container">
  <h3>Allgemeine Informationen</h3>
  <div class="general-information-container">
    <div class="input-group mb-3">
      <span class="input-group-text" id="venue-input-field">Austragungsort</span>
      <input
        type="text"
        class="form-control"
        placeholder=""
        aria-label="Venue"
        aria-describedby="venue-input-field"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="tracklength-input-field">Streckenlänge (Meter)</span>
      <input
        type="text"
        class="form-control"
        placeholder=""
        aria-label="Tracklength"
        aria-describedby="tracklength-input-field"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="trackrounds-input-field">Rundenanzahl</span>
      <input
        type="text"
        class="form-control"
        placeholder=""
        aria-label="Trackrounds"
        aria-describedby="trackrounds-input-field"
      />
    </div>
  </div>
  <div class="driver-container">
    <div class="subtitle-container">
      <h3>Teilnehmer</h3>
    </div>
    <div>
      <button type="button" class="btn btn-secondary">
        Teilnehmer Hinzufügen
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-primary">Turnier Starten</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Fahrer Nummer</th>
        <th scope="col">Vorname</th>
        <th scope="col">Nachname</th>
        <th scope="col">Gefahrene Läufe</th>
        <th scope="col">Bestzeit</th>
        <th scope="col">Gefahrene Läufe</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of driver; index as i">
        <td>{{ d.racerId }}</td>
        <td>{{ d.firstname }}</td>
        <td>{{ d.lastname }}</td>
        <td>{{ d.heats | dashIfEmpty }}</td>
        <td>{{ d.besttime | dashIfEmpty }}</td>
        <td>{{ d.topspeed | dashIfEmpty }}</td>
        <td class="icon-button-col">
            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="editDriver(d)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                </svg>
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="deleteDriver(d.racerId)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                </svg>
            </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
