.navbar-custom, .subnavbar-custom {
	padding: 0;
	display: block;
}

.navbar-custom .navbar-nav {
	background-color: #2b5464;
}

.navbar-custom .navbar-nav > li > a {
	color: white;
}

.navbar-custom .navbar-nav>li>a:focus, 
.navbar-custom .navbar-nav>li>a:hover{
	font-weight: bold;
}

.navbar-custom .navbar-nav>li>a.active {
	background-color: black;
	font-weight: bold;
}

.subnavbar-custom .navbar-nav {
	background-color: black;
}

.subnavbar-custom > .navbar-nav > li > a {
	color: white;
}

.subnavbar-custom .navbar-nav>li>a:focus, 
.subnavbar-custom .navbar-nav>li>a:hover{
	font-weight: bold;
}

.subnavbar-custom .navbar-nav>li>a.active {
	font-weight: bold;
	border-bottom: .5rem solid white;
}